<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<title>Novelist</title>
</head>
<body>
	<div class="topics-new-wrapper" layout:fragment="contents">
		<div class="container">
			<div class="wrap">
				<div class="side">
					<div class="side_content">
						<h2 class="haku">三幕構成</h2>
						<div class="row">
							<ul>
								<li><input type="button" value="設定(第一幕)" class="images-top btn-outline-dark"
								    th:attr="onClick='location.href=\''+@{'/plotpick/setting/{id}'(id=${topicid})}+'\''">
								</li>
								<li><input type="button" value="対立(第二幕)" class="images-top btn-outline-light"
									th:attr="onClick='location.href=\''+@{'/plotpick/confrontation/{id}'(id=${topicid})}+'\''">
								</li>
								<li><input type="button" value="解決(第三幕)" class="images-top btn-outline-dark"
									th:attr="onClick='location.href=\''+@{'/plotpick/Resolution/{id}'(id=${topicid})}+'\''">
								</li>
								<li><input type="button" value="メモ" class="images-top btn-outline-dark"
									th:attr="onClick='location.href=\''+@{'/plotpick/memo/{id}'(id=${topicid})}+'\''">
								</li>
							</ul>
						</div>
					</div>
				</div>
				<form method="post" th:action="@{'/plot-content/{id}'(id=${topicid})}" th:object="${plotform}"> 
					<div class="main">
						<div class="main2_content">
						    <input type="hidden" th:field="*{id}" />
						    <h3>対立</h3>
						    <textarea class="plotcontent" th:field="*{confrontation}"></textarea>
							<div class="ro">
								<input type="submit" class="btn btn-outline-dark charakeep"
									value="保存" /> 
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</body>
</html>