<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<title>Novelist</title>
</head>
<body>
	<div class="topics-new-wrapper" layout:fragment="contents">
		<div class="container">
			<div class="wrap">
				<div class="side">
					<div class="side_content">
					<h2>キャラクター</h2>
					    <form method="get" th:action="@{'/chara/{id}'(id=${topicid})}" th:object="${charaform}"> 
						<input type="hidden" th:field="*{id}" />
						<div class="row">
							<input type="submit" name="role" th:value="主人公" />
						</div>
						</form>
					    <form method="get" th:action="@{'/characreated/{id}'(id=${topicid})}" th:object="${charaform}"> 
						<input type="hidden" th:field="*{id}" />
						<div class="row">
							<input type="submit" name="role" th:value="ヒロイン" />
						</div>
						<p>追加</p>
						</form>
					</div>
				</div>
				<form method="post" th:action="@{'/chara-content/{id}'(id=${topicid})}" th:object="${charaform}"> 
					<div class="main">
						<div class="main_content">
						<input type="hidden" th:field="*{id}" />
						    <div class="row">
								<label class="form-label" for="chara_role">ヒロイン</label><input type="hidden" name="role" th:value="ヒロイン" />
							</div>
						    <div class="row">
								<label class="form-label" for="chara_name">名前</label> <input type="text" th:field="*{name}" />
							</div>
							<div class="row">
								<label class="form-label" for="chara_nickname">あだ名</label> <input type="text" th:field="*{nickname}" />
							</div>
							<div class="row">
								<label class="form-label" for="chara_gendere">性別</label> <input type="text" th:field="*{gendere}" />
							</div>
							<div class="row">
								<label class="form-label" for="chara_age">歳</label> <input type="text" th:field="*{age}" />
							</div>
							<div class="row">
								<label class="form-label" for="chara_birthday">誕生日</label> <input type="text" th:field="*{birthday}" />
							</div>
							<div class="row">
								<label class="form-label" for="chara_height">身長</label> <input type="text" th:field="*{height}" />
							</div>
							<div class="row">
								<label class="form-label" for="chara_weight">体重</label> <input type="text" th:field="*{weight}" />
							</div>
							<div class="row">
								<label class="form-label" for="chara_personality">性格</label> <input type="text" th:field="*{personality}" />
							</div>
							<div class="row">
								<label class="form-label" for="chara_skill">スキル</label> <input type="text" th:field="*{skill}" />
							</div>
							<div class="row">
								<label class="form-label" for="chara_ability">特技</label> <input type="text" th:field="*{ability}" />
							</div>
							<div class="row">
								<label class="form-label" for="chara_Appearance">容姿</label> <input type="text" th:field="*{Appearance}" />
							</div>
							<div class="row">
								<label class="form-label" for="chara_upbringing">生い立ち</label> <input type="text" th:field="*{upbringing}" />
							</div>
							<div class="row">
								<label class="form-label" for="chara_background">背景</label> <input type="text" th:field="*{background}" />
							</div>
							<div class="row">
								<label class="form-label" for="chara_others">その他</label> <textarea rows="3" th:field="*{others}"></textarea>
							</div>
							<input type="submit" class="btn w-100 btn-outline-dark" value="保存"/>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</body>
</html>