<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
	<nav class="navbar navbar-expand-lg fixed-top navbar-light"
		layout:fragment="nav">
		<div class="container">
			<a class="navbar-brand" th:href="@{/}"> 
			<img
				src="/images/icons/book.png" th:src="@{/images/icons/logo.png}"
				class="brand">
			</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ms-auto">
					<th:block sec:authorize="isAuthenticated()">
						<li class="nav-item dropdown">
                            <button class="dropdown-toggle nav-link" data-bs-toggle="dropdown" aria-expanded="false">
                             検索
                            </button>
                            <ul class="dropdown-menu">
                                <li><form class="margin5" action="/search" method="get">
                                <input type="text" name="title" placeholder="タイトル名" />
                                <input type="submit" value="検索">
                            </form></li>
                            </ul>
                        </li>
						<li class="nav-item">
						    <a class="nav-link" th:href="@{/topics/top}">マイホーム</a>
						</li>
						<li class="nav-item">
						    <a class="nav-link" th:href="@{/topics}">投稿一覧</a>
						</li>
						<li class="nav-item">
						    <a class="nav-link" th:href="@{/favorites}">お気に入り</a>
						</li>
						<li class="nav-item"> 
						    <a class="nav-link" th:href="@{/topics/new}">投稿作成</a>
						</li>
						<li class="nav-item">
						    <a th:href="@{/logout}" class="nav-link convert" data-method="post" th:data-_csrf="${_csrf.token}">ログアウト 
						    </a>
						</li>
					</th:block>
					<th:block sec:authorize="!isAuthenticated()">
						<li class="nav-item">
						    <a class="nav-link"
							   th:href="@{/users/new}">新規登録</a>
						</li>
						<li class="nav-item">
						    <a class="nav-link" th:href="@{/login}" >ログイン</a>
						</li>
					</th:block>
				</ul>
			</div>
		</div>
	</nav>
	<div id="messages" layout:fragment="messages"
		th:if="!${#lists.isEmpty(#fields.detailedErrors())}">
		<ul>
			<li th:each="error : ${#fields.detailedErrors()}"
				class="error-message" th:text="${error.message}" />
		</ul>
	</div>
	<footer layout:fragment="footer" class="footer">
	    <p>
	        <small>&copy; 2023 rin</small>
	    </p>
	</footer>
</body>
</html>