@import url("https://fonts.googleapis.com/css?family=Sawarabi+Mincho");
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  color: #6c757d;
  /* font-family: 'Sawarabi Mincho', sans-serif; */ }

.p-form-top {
  height: 20px; }

.p-form-topic {
  height: 380px; }

.form-control, form-control-file {
  height: 45px; }

.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000; }

#messages ul {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  padding: 4px;
  color: black; }
  #messages ul li {
    list-style: none;
    padding: 4px 8px;
    font-size: 18px; }

.error-message {
  color: red; }

.error-field {
  background-color: rgba(255, 192, 203, 0.8); }

nav.navbar {
  background-color: #fff;
  /* #f8f9fa; */
  border: 1px solid transparent;
  border-color: white;
  border-width: 0 0 1px;
  margin-bottom: 20px;
  padding: 0; }
  nav.navbar a {
    color: #666363; }
  nav.navbar img {
    height: 40px; }

.pages-index-wrapper {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-color: #fff; }
  .pages-index-wrapper .container {
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0; }
    .pages-index-wrapper .container h1 {
      font-size: 56px;
      margin-bottom: 20px; }
    .pages-index-wrapper .container h2 {
      margin-bottom: 60px; }
  .pages-index-wrapper main {
    background-color: #fff;
    margin-top: 30px;
    border: 1px solid #e6ecf0;
    border-radius: 6px; }
    .pages-index-wrapper main .author {
      margin-top: 10px; }
    .pages-index-wrapper main .image {
      margin: 2px 0;
      width: 150px;
      height: 150px;
      object-fit: contain; }

.users-new-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url("../images/book-top.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: cover; }
  .users-new-wrapper main {
    padding-top: 80px; }

.topics-new-wrapper, .comments-new-wrapper {
  padding-top: 80px; }
  .topics-new-wrapper #description, .comments-new-wrapper #description {
    height: 500px; }

.topics-index-wrapper {
  padding: 80px 0 20px;
  background-color: #fafafa;
  min-height: calc(100vh - 180px);
  overflow: hidden; }
  .topics-index-wrapper main {
    background-color: #fff;
    margin-top: 30px; }
    .topics-index-wrapper main .author {
      margin-top: 10px;
      padding: 0 20px; }
    .topics-index-wrapper main .image {
      margin: 2px 0;
      width: 150px;
      height: 150px;
      object-fit: contain; }
    .topics-index-wrapper main .icons {
      display: flex;
      flex-direction: row; }
      .topics-index-wrapper main .icons .icon {
        display: block;
        width: 35px;
        height: 30px;
        margin-left: 20px; }
        .topics-index-wrapper main .icons .icon img {
          width: 35px;
          height: 30px; }
        .topics-index-wrapper main .icons .icon .favorite-on {
          -webkit-filter: invert(40%) grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(400%) contrast(2);
          filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8); }
      .topics-index-wrapper main .icons .count {
        display: flex;
        width: 10px;
        height: 30px;
        align-items: flex-end; }
    .topics-index-wrapper main .description {
      padding: 10px 20px;
      overflow: auto;
      white-space: pre-wrap;
      word-wrap: break-word;
      background-color: white;
      border: none; }
    .topics-index-wrapper main .comments ul li {
      list-style: none; }

#posts {
  background-color: #fff;
  padding: 8px; }

.edit {
  border: 3px solid #5ed400;
  background-color: #5ed400;
  margin-right: 0;
  margin-bottom: 8px;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-family: 'Bitter', serif;
  width: 72px;
  display: block;
  text-align: center;
  line-height: 24px;
  border-radius: 4px;
  float: right; }

.delete {
  border: 3px solid #f51a0a;
  background-color: #f51a0a;
  margin-right: 0;
  margin-bottom: 8px;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-family: 'Bitter', serif;
  width: 72px;
  display: block;
  text-align: center;
  line-height: 24px;
  border-radius: 4px;
  float: right; }

.chara {
  border: 3px solid #f51a0a;
  background-color: #f51a0a;
  margin-right: 0;
  margin-bottom: 8px;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-family: 'Bitter', serif;
  width: 72px;
  display: block;
  text-align: center;
  line-height: 24px;
  border-radius: 4px;
  float: right; }

.release, .private {
  float: right; }

.box {
  font-weight: bold;
  color: #747474;
  background: #FFF;
  border: solid 3px #747474;
  border-radius: 10px; }

.box-true {
  font-weight: bold;
  color: #747474;
  background: #4a4a4a47;
  border: solid 3px #747474;
  border-radius: 10px; }

.box-false {
  font-weight: bold;
  color: #ff0000;
  background: #FFF;
  border: solid 3px #747474;
  border-radius: 10px; }

.image {
  margin: 2px 0;
  width: 150px;
  height: 150px;
  object-fit: contain; }

table {
  width: 100%;
  border-collapse: separate; }

table td {
  text-align: left; }

table th {
  width: 20%;
  text-align: left; }

.btn-outline-light {
  border-color: #939393;
  border: 3px solid #939393;
  background-color: #404040;
  margin-right: 0;
  margin-bottom: 8px;
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  display: block;
  text-align: center;
  line-height: 24px;
  border-radius: 4px;
  float: right; }

footer p {
  text-align: center;
  margin-top: 20px; }

.box-show {
  font-weight: bold;
  color: #747474;
  background: #FFF;
  border-radius: 10px; }

.haku {
  margin-top: 20px;
  text-align: center; }

.center {
  text-align: center; }

.images-top {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0; }

.btn-outline-dark {
  margin-bottom: 8px; }

.form-control {
  border: 1px solid #767676; }

.description {
  overflow-wrap: break-word; }

.k {
  margin-right: 5px;
  margin-left: 5px; }

.dropdown-menu.show {
  background: #b9b9b9; }

.wrap {
  display: grid;
  grid-template-columns: 1fr 3fr; }

.main_content {
  background: #e0efff; }

.side {
  background: #e0ffe0;
  padding-right: 15px; }

.side_content {
  position: sticky;
  top: 50px;
  background: #ffe0ff; }

.charadelete {
  border: 8px solid #f51a0a;
  background-color: #f51a0a;
  margin-right: 0;
  margin-top: 8px;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-family: 'Bitter', serif;
  display: block;
  text-align: center;
  line-height: 24px;
  border-radius: 4px;
  float: right; }

.charakeep {
  border: 3px solid #00ff1f;
  background-color: #00ff1f;
  margin-right: 0;
  margin-top: 8px;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-family: 'Bitter', serif;
  display: block;
  text-align: center;
  line-height: 24px;
  border-radius: 4px;
  float: right; }

.new {
  display: none; }

.new.is-show {
  display: inline-block; }

/*# sourceMappingURL=style.css.map */
