@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho');

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  color:  #6c757d;
 /* font-family: 'Sawarabi Mincho', sans-serif; */
}
.p-form-top {
    height: 20px;
}
.p-form-topic {
    height: 380px;
}
.form-control, form-control-file {
  height: 45px;
}
.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}
#messages {
  ul{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    padding: 4px;
    color: black;
    li {
      list-style: none;
      padding: 4px 8px;
      font-size: 18px;
    }
  }
}
.error-message {
  color: red;
}
.error-field {
  background-color: rgba(255,192,203,0.8);
}
nav.navbar {
  background-color: #fff;
  /* #f8f9fa; */
  border: 1px solid transparent;
  border-color: white;
  border-width: 0 0 1px;
  margin-bottom: 20px;
  padding: 0;
  a {
    color: #666363;
  }
  img {
    height: 40px;
  }
}
.pages-index-wrapper {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-color: #fff;
  .container {
    max-width: 100%;
    padding-right:0 ;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
    h1 {
      font-size: 56px;
      margin-bottom: 20px;
      
    }
    h2 {
      margin-bottom: 60px;
    }
  }
  main {
    background-color: #fff;
    margin-top: 30px;
    border: 1px solid #e6ecf0;
    border-radius: 6px;
    .author {
      margin-top: 10px;
      padding: 0 20px;
    }
    .image {
      margin: 2px 0;
      width: 150px;  
      height: 150px;
      object-fit: contain;
    }
  }
}

.users-new-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url('/novelist/images/book-top.jpg');
  background-image: url('/images/book-top.jpg');
  margin-bottom: 48px;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: cover;
  main {
    padding-top: 80px;
  }
}
.topics-new-wrapper, .comments-new-wrapper {
  padding-top: 80px;
  #description {
    height: 500px;
  }
}
.topics-index-wrapper {
  padding: 80px 0 20px;
  background-color: #fafafa;
  min-height: calc(100vh - 180px);
  overflow: hidden;
  main {
    background-color: #fff;
    margin-top: 30px;
   
    .author {
      margin-top: 10px;
      padding: 0 20px;
    }
    .image {
      margin: 2px 0;
      width: 150px;
      height: 150px;
      object-fit: contain;
    }
    .icons {
      display: flex;
      flex-direction: row;
      .icon {
        display: block;
        width: 35px;
        height: 30px;
        margin-left: 20px;
        img {
          width: 35px;
          height: 30px;
        }
        .favorite-on {
          -webkit-filter: invert(40%) grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(400%) contrast(2);
          filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
        }
      }
      .count {
        display: flex;
        width: 10px;
        height: 30px;
        align-items: flex-end;
      }
    }
    .description {
      padding: 10px 20px;
      overflow: auto;
      white-space: pre-wrap;
      word-wrap: break-word;
      background-color: white;
      border: none;
    }
    .comments {
      ul{
        li {
          list-style: none;
        }
      }
    }
  }
}
#posts {
  background-color: #fff;
  padding: 8px;
}
.edit {
  border: 3px solid #5ed400;
  background-color: #5ed400;
  margin-right: 0;
  margin-bottom: 8px;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-family: 'Bitter', serif;
  width: 72px;
  display: block;
  text-align: center;
  line-height: 24px;
  border-radius: 4px;
  float: right;
}

.delete {
  border: 3px solid #f51a0a;
  background-color: #f51a0a;
  margin-right: 0;
  margin-bottom: 8px;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-family: 'Bitter', serif;
  width: 72px;
  display: block;
  text-align: center;
  line-height: 24px;
  border-radius: 4px;
  float: right;
}
.release {
  float: right;
}
table {
  width: 100%;
}
table td {
  text-align: left;
}
table th {
  width: 20%;
  text-align: left;
}
.btn-outline-light {
  border-color: #939393;
  border: 3px solid #939393;
  background-color: #404040;
  margin-right: 0;
  margin-bottom: 8px;
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  display: block;
  text-align: center;
  line-height: 24px;
  border-radius: 4px;
  float: right;
}
footer p {
  text-align:center;
  margin-top: 20px;
}
.box {
    font-weight: bold;
    color: #747474;
    background: #FFF;
    border: solid 3px #747474;
    border-radius: 10px;
}
.box-show {
  font-weight: bold;
  color: #747474;
  background: #FFF;
  border-radius: 10px;
}
.haku {
  margin-top: 20px;
  text-align:center;
}
.center {
  text-align:center;
}
.images-top {
  width: 100%;
  padding-right:0 ;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
}
.btn-outline-dark {
  margin-bottom: 8px;
}
.form-control {
  border: 1px solid #767676;
}
.description {
  overflow-wrap: break-word;
}
